target/
logs/
*.log
test-output/
.classpath
.project
.settings/
.idea/
*.iml
*.iws
*.ipr
.vscode/
Thumbs.db
.DS_Store
ehthumbs.db
*.class
*~
*.swp
*.bak
node_modules/
allure-results/
allure-report/
Screenshot/
*.png
*.jpg
reports/
src/test/java/utils/ExtentReportManager.java

